[DEFAULT]
bind_host = 0.0.0.0
bind_port = 9191
log_file = /var/log/glance/registry.log
backlog = 4096
api_limit_max = 1000
limit_param_default = 25

rpc_backend = rabbit
rabbit_host = controller
rabbit_password = {{ RABBIT_PASS }}

[database]
#sqlite_db = /var/lib/glance/glance.sqlite
backend = sqlalchemy

connection = mysql://glance:{{ GLANCE_DBPASS }}@controller/glance

[keystone_authtoken]
#auth_host = 127.0.0.1
auth_port = 35357
auth_protocol = http
#admin_tenant_name = %SERVICE_TENANT_NAME%
#admin_user = %SERVICE_USER%
#admin_password = %SERVICE_PASSWORD%

auth_uri = http://controller:5000
auth_host = controller
admin_tenant_name = service
admin_user = glance
admin_password = {{ GLANCE_PASS }}

[paste_deploy]

flavor = keystone