[DEFAULT]

verbose = True
log_dir=/var/log/heat
rabbit_host = controller
rabbit_password = {{ RABBIT_PASS }}
heat_metadata_server_url = http://10.0.0.11:8000
heat_waitcondition_server_url = http://10.0.0.11:8000/v1/waitcondition

[auth_password]
[clients]
[clients_ceilometer]
[clients_cinder]
[clients_heat]
[clients_keystone]
[clients_neutron]
[clients_nova]
[clients_swift]
[clients_trove]
[database]
#connection=sqlite:////var/lib/heat/$sqlite_db

connection = mysql://heat:{{ HEAT_DBPASS }}@controller/heat

[ec2authtoken]

auth_uri = http://controller:5000/v2.0

[heat_api]
[heat_api_cfn]
[heat_api_cloudwatch]
[keystone_authtoken]

auth_host = controller
auth_port = 35357
auth_protocol = http
auth_uri = http://controller:5000/v2.0
admin_tenant_name = service
admin_user = heat
admin_password = {{ HEAT_PASS }}

[matchmaker_redis]
[matchmaker_ring]
[paste_deploy]
[revision]
[rpc_notifier2]
[ssl]